@CHARSET "UTF-8";
.fl{
	float:left;
}
.fr{
	float:right;
}
.pre-adverts {
	width: 100%;
	height: 500px;
}

.news_content {
	margin-top: 20px;
	width: 1140px;
}

.news_navbar {
	position: fixed;
	display: inline-block;
	width: 250px;
	overflow: hidden;
	font-size: 15px;
	background-color: #fff;
}
#classify{
	width:250px;
	height:499px;
}
#report{
	width:250px;
	height:499px;
}
.target li {
	float:left;
	margin:5px 5px 5px 10px;
	padding:6px;
	border-radius:6px;
	background-color: #DBF0FF;
}
.target li a{
	position:relative;
    display: inline-block;  
    outline: none;  
    text-decoration: none;  
    color: #000;  
    font-size:15px;
}
.target li a:hover{
	color:#2ea8db;
}
.target li a::before,
.target li a::after{
	position: absolute;
	top: 0;
	opacity:0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
	}
.target li a::before{
	left: -5px;
	content: '[';
	-webkit-transform: translateX(-5px);
	transform: translateX(-5px);
}
.target li a::after{
	right: -5px;
	content: ']';
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
.target li a:hover::before,.target li a:hover::after { 
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	 }  
.nn_navbar {
	width: 100%;
	height: 50px;
}

.nn_navbar li {
	float: left;
	height: 100%;
	width: 50%;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	background-color:#eaeaea;
}

.nn_navbar ul>li:FIRST-CHILD{
	background-color:#fff;
}

.nn_navbar li:hover{
	color:#3da9f7;
	cursor: pointer;
}

.news {
	position: relative;
	left: 250px;
	display: inline-block;
	margin-left: 20px;
	width: 870px;
}

.news li {
	margin-bottom: 13px;
	height: 150px;
	width: 100%;
	padding: 10px 20px 10px 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 150px;
	font-size: 14px;
	background-color: #fff;
}

#loadmore {
	width: 100%;
	height: 33px;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	line-height: 33px;
	background-color: #ADABAB;
}

.advertsOne {
	position:relative;
	margin-right: 10px;
	height: 100%;
	width: 640px;
	overflow:hidden;
}

.advertsTwo {
	position:relative;
	margin-bottom: 10px;
	height: 330px;
	width: 490px;
	overflow:hidden;
}

.advertsThree {
	position:relative;
	margin-right: 5px;
	height: 160px;
	width: 160px;
	overflow:hidden;
}

.advertsFour {
	position:relative;
	margin-right: 5px;
	height: 160px;
	width: 160px;
	overflow:hidden;
}

.advertsFive {
	position:relative;
	height: 160px;
	width: 160px;
	overflow:hidden;
}
b{
	position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .25s ease-in-out;
}
b:hover{
	opacity: 0.5;
}
.newsFont {
	height: 100%;
	width: 75%;
	padding: 10px;
	text-align: left;
	vertical-align: top;
	word-break: normal;
	line-height: 100%;
}
.newsname{
	height:20px;
	font-size: 16px;
}

.newsImage {
	padding: 10px;
	width: 180px;
	height: 100%;
}