#article_area{
	width:862px;
	background:#fff;
	margin-left:auto;
	margin-right: auto;
}
#article_author{
	width:802px;
	height:20px;
	opacity:0.4;
}
#article_imgbox{
	width:802px;
	height:378px;
	padding:20px;
	background-color:#fff;
	text-align: center;
}
#article_content{
	width:802px;
	background-color: #fff;
}
#comment_area{
	width:100%;
	margin-top:10px;
}
#comment_author{
	width:802px;
	height:80px;
	background-color: #fff;
}
